.card-img, .card-img-top{
    border-radius: 0px;
}

.card {
    position: relative;
    overflow: hidden;
  }
  
  .card button {
    position: absolute;
    bottom: 60%;
    right: 50%;
    transform: translate(50%, 50%);
    opacity: 0;
  }
  
  .cardbtn{
    border-color: var(--color-0);
    border-width: 2px;
    border-radius: 0px;
    --bs-btn-active-bg:  var(--color-1);
    --bs-btn-active-border-color:  var(--color-0);
    transition: 0.2s;
    z-index: 1;
  }

  .cardbtn:hover{
    background-color: var(--color-0);
    border-color: var(--color-0);
    color: var(--color-1);
}

.card:hover button {
    display: block;
    opacity: 1;
}

.card img {
    transition: 0.4s;
}

.card:hover  > div > img {
    transform: scale(1.1) !important;
    filter: brightness(0.7); 
}



/*    modale    */

.btn-close{
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(212, 163, 115, 0.596) !important;
  --bs-btn-close-hover-opacity:0.68;
  border-radius: .1rem;
}

.modalbtn{
  background-color: var(--color-1);
  border-radius: 0;
  height: 3rem;
  color: var(--color-0);
  /* border-color: var(--color-2); */
  --bs-btn-active-bg:  var(--color-1);
  --bs-btn-active-color:  var(--color-0);
  transition: 0.1s;
}

.modalbtn:hover{
  background-color: var(--color-0);
  outline: solid var(--color-1);
  color: var(--color-1);
}

button a{
  color: var(--color-0);
}

button:hover a{
  color: var(--color-1);
}

button:active a{
  color: var(--color-0);
}

.closebtn{
  background-color: var(--color-0);
  border-radius: 0;
  height: 3rem;
  color: var(--color-3);
  border-color: var(--color-3);
  border-width: 2px;
  --bs-btn-active-bg:  var(--color-0);
  --bs-btn-active-color:  var(--color-3);
  transition: 0.1s;
}

.closebtn:hover{
  background-color: var(--color-3);
  outline: solid var(--color-3);
  color: var(--color-0);
}