.mapResponsive{
    position: relative;
    overflow: hidden;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contactsIcons{
    height: 70px;
    /* width: 60px; */
}


/* classi per il form  */
.emailMessage{
    height: 120px !important;
}

.form-control{
    border-radius: 0;
    box-shadow: none !important;
    color: var(--color-3) !important;
}

.form-control:focus{
    border-color: var(--color-1) ;
}

.formbtn{
    background-color: var(--color-1);
    border-radius: 0;
    height: 3rem;
    width: 100%;
    color: var(--color-0);
    border-color: var(--color-2);
    --bs-btn-active-bg:  var(--color-1);
    --bs-btn-active-border-color:  var(--color-2);
    --bs-btn-active-color:  var(--color-0);
    transition: 0.1s;

}

.formbtn:hover{
    /* background-color: white; */
    background-color: var(--color-0);
    border-color: var(--color-1) !important;
    border: 3px solid;
    /* color: var(--color-1); */
    color: var(--color-1);
}