
@keyframes slideInRotate {
    0% {
      transform: translateX(50vw) rotate(0deg) scale(0.4); 
      opacity: 0; 
    }
    50% {
      opacity: 1; 
    }
    100% {
      transform: translateX(0) rotate(720deg) scale(1); 
      opacity: 1;
    }
  }

.whatsappCorner {
    background-color: var(--color-1);
    display: inline-block;
    border-radius: 50%;
    padding: 2px;
    position: fixed;
    top: 80%;
    right: 5% !important;
    z-index: 1000 !important;
    cursor: pointer;
    opacity: 0; /* Inizia invisibile */
    animation: slideInRotate 1s ease-in-out 2s forwards; /* Applica l'animazione con un ritardo di 2 secondi */
    transform: translateZ(0) !important; /* Assicura che il pallino non influisca sul rendering del layout */
    /* transition: transform 0.3s ease-in-out !important; */
}

.whatsappimg{
    width: 75px;
}

/* .whatsappCorner:hover {
  transform: scale(1.2) !important;
}

@media (min-width: 600px) {
  .whatsappCorner:hover {
    transform: scale(1.2);
  }
} */