
.whatsappCorner {
    background-color: var(--color-1);
    display: inline-block;
    border-radius: 50%;
    padding: 2px;
    position: fixed;
    top: 80%;
    right: 5%;
    z-index: 3;
    cursor: pointer;
    /* transition: transform 0.4s ease-in-out; */
}

.whatsappimg{
    width: 75px;
}