:root{
    --color-1: #D4A373;
    --color-2: #F5E8C9;
    --color-3: #222222;
    --color-0:#F4F1ED;
}

/* bg and text color classes */
.bg1{
    background-color: var(--color-1);
}
.bg2{
    background-color: var(--color-2);
}
.bg3{
    background-color: var(--color-3);
}
.bg0{
    background-color: var(--color-0); 
}

.text1{
    color: var(--color-1);
}
.text2{
    color: var(--color-2);
}
.text3{
    color: var(--color-3);
}
.text0{
    color: var(--color-0);
}
/*end bg amd text color classes */
